@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #f7fff6;
  --foreground-hex: #87D68D;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}
