@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #f0fdf4;
  --foreground-hex: #22c55e;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}
